<section >
    <div class="container-fuild">
        <div class="screen">
            <div class="screen__content">
                <form class="login">
                    <div [formGroup]="Form">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input formControlName="userName"  type="text" class="login__input" placeholder="نام کاربری خود را وارد کنین"  [(ngModel)]="username">
                         <div  *ngIf="userName?.touched && userName?.errors" >
                            <span *ngIf="userName?.hasError('required')" style="color: red;">نام کاربری خود را وارد کنین</span>
                         </div>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input formControlName="userNumber"  type="text" class="login__input" placeholder="شماره موبایل خود را وارد کنین" [(ngModel)]="usernumber">
                        <div  *ngIf="userNumber?.touched && userNumber?.errors" >
                            <span *ngIf="userNumber?.hasError('required')" style="color: red;">شماره موبایل  خود را وارد کنین</span>
                         </div>
                    </div>

                    <button class="button login__submit" style="display: flex;" (click)="login()">
                        <span class="button__text" style="margin: auto;">ورود</span>
                    </button>
                </div>
                </form>
                <div class="container">
                    <span class=" acount-span"  >ساخت اکانت</span>
                    <button (click)="regpage()" mat-raised-button color="primary" class="acount-spa">create</button>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</section>

